body {
    background-color: #f2ded8;
    text-align: center;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

.baltic {
    background-color: #734f44;
    border: 3px solid #f2ded8;
    padding: 50px;
    max-height: 80vh;
}

.alternate {
    display: none;
}